div {
   border: 1px solid;
}

div#area1 {
   height: 200px;
   width: 200px;
   background-color: yellow; 
}

div#area2 {
   position: relative;
   left: 50px;
   top: 50px;
   height: 100px;
   width: 100px;
   background-color: lime; 
}
